@page "/about"

<PageTitle>Om prosjektet</PageTitle>

<MudGrid Justify="Justify.FlexStart">
    <MudItem xs="12">
        <MudText Typo="Typo.h3">Om prosjektet</MudText>
    </MudItem>
    <MudItem xs="6">
        <MudText Typo="Typo.inherit">
            Velkommen til Dirdal Robåt! På denne siden kan du booke tid bruk av robåt og se andre sine bookinger.
            Gå til <MudLink Href="/" Typo="Typo.inherit">hjemmesiden</MudLink> for å booke eller se bookinger.
            For å redigere profilen din, gå til <MudLink Href="/profile" Typo="Typo.inherit">Profil</MudLink>
        </MudText>
    </MudItem>
    <MudItem xs="6">
        <div class="d-flex justify-center">
            <MudImage Src="https://bodil.blob.core.windows.net/images/bodil-boat.jpg" Alt="Bådil robåt i Dirdal"
                      Elevation="25" Class="rounded-lg" Height="500"
                      ObjectFit="ObjectFit.Contain" ObjectPosition="ObjectPosition.Center" />
        </div>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.inherit">
            Har du tilbakemeldinger? Eller rapportere feil? Send mail til
            <MudLink Href="mailto:bjoernrosland@gmail.com" Typo="Typo.inherit">utvikler, Bjørn Rosland</MudLink>.
        </MudText>
    </MudItem>
</MudGrid>