@page "/about"

<PageTitle>Om prosjektet</PageTitle>

<MudGrid Justify="Justify.FlexStart">
    <MudItem xs="12">
        <MudText Typo="Typo.h3">Om prosjektet</MudText>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.inherit">
            Velkommen til Dirdal Robåt! På denne siden kan du booke tid bruk av robåt og se andre sine bookinger. <br />
            Gå til <a href="/schedule">Timeplan</a> for å booke eller se andre sine bookinger.
        </MudText>
    </MudItem>
</MudGrid>